@using InfSystemWebApplication.Models
@model IGrid<SoldProduct>
@{
    ViewBag.Title = "Поиск по проданным товарам";
}

<h3>Список проданных товаров</h3>

<a href="@(Url.Action("Export") + "?" + ViewContext.HttpContext.Request.QueryString)">Экспорт в MS Excel</a>

@(new HtmlGrid<SoldProduct>(Html, Model))
